In [10]:
import pandas as pd

#For generalized filepath when putting CSV to folder
import pathlib



path = pathlib.Path.home() / 'Desktop' / 'Extraction' /'example1.csv'
print(path)

banks = pd.read_csv('CS.csv')

banks_df = pd.DataFrame(banks)

#Example One
#Extracting data from a single table
#Both datasets chosen are from Kaggle 

#This is the pandas equivalent of a SELECT clause, takes the first two queries from the banks csv file
output1 = banks_df.head(2)
print(output1)
print('')
#This is the pandas equivalent of a WHERE clause, where all values in the Open column are greater than 15.8
output2 = banks_df[banks_df['Open'] > 15.8]
print(output2)
print('')
# Pandas equivalent of a SQL extraction from a single table 
output3 = banks_df[banks_df['Open'] > 15.8].head(2)
print(output3)


output3.to_csv(path)

C:\Users\00gun\Desktop\Extraction\example1.csv
         Date   Open   High    Low  Close  Adj Close   Volume
0  2017-01-03  15.11  15.30  15.03  15.26  12.826453  7462400
1  2017-01-04  15.80  15.98  15.60  15.96  13.414824  7671900

           Date       Open   High    Low  Close  Adj Close   Volume
1    2017-01-04  15.800000  15.98  15.60  15.96  13.414824  7671900
7    2017-01-12  15.810000  15.84  15.47  15.62  13.129044  4250200
8    2017-01-13  16.040001  16.17  15.79  15.86  13.330769  4640000
9    2017-01-17  15.910000  15.92  15.46  15.49  13.019773  4569100
16   2017-01-26  15.850000  15.97  15.78  15.84  13.313960  3860000
..          ...        ...    ...    ...    ...        ...      ...
399  2018-08-03  15.830000  15.88  15.78  15.79  14.636528  2253500
401  2018-08-07  15.810000  15.94  15.75  15.77  14.617990  2149000
432  2018-09-20  15.900000  15.95  15.81  15.87  14.710682  3583500
433  2018-09-21  15.980000  15.99  15.87  15.94  14.775569  2396100
434  2018-09-24  15.950000  15.97  15.68  15.69  14.543832  1402300

[169 rows x 7 columns]

         Date   Open   High    Low  Close  Adj Close   Volume
1  2017-01-04  15.80  15.98  15.60  15.96  13.414824  7671900
7  2017-01-12  15.81  15.84  15.47  15.62  13.129044  4250200

In [9]:
import pandas as pd
import pathlib

banks = pd.read_csv('CS.csv')
electric = pd.read_csv('electricity_dah_prices.csv')

banks_df = pd.DataFrame(banks)
electric_df = pd.DataFrame(electric)
path = pathlib.Path.home() / 'Desktop' / 'Extraction' / 'example2.csv'

#Example Two
#Extracting data from multiple tables


#renaming columns to have a common key to join tables
electric_df.rename(columns = {'date':'Date', 'france':'Open'}, inplace = True)

#since both tables are from completely different datasets I used an outer join to merge
combine_df = pd.merge(left = banks_df, right = electric_df, how = 'outer')

#A SQL SELECT and WHERE clause as demonstrated from example one to extract data.
output4 = combine_df[combine_df['Volume'] > 7500000].head(5)
print(output4)

#The NaN values are caused by incompatible data types from the datasets
output4.to_csv(path, na_rep= 'Unknown')

          Date   Open   High    Low  Close  Adj Close      Volume hour  italy  \
1   2017-01-04  15.80  15.98  15.60  15.96  13.414824   7671900.0  NaN    NaN
10  2017-01-18  15.01  15.31  14.80  15.30  12.860074  12838800.0  NaN    NaN
25  2017-02-08  14.37  14.55  14.15  14.50  12.187652   7814400.0  NaN    NaN
53  2017-03-21  15.57  15.59  14.90  14.96  12.574295   9883500.0  NaN    NaN
55  2017-03-23  14.91  14.96  14.39  14.57  12.246488  15493100.0  NaN    NaN

    belgium  spain  uk  germany
1       NaN    NaN NaN      NaN
10      NaN    NaN NaN      NaN
25      NaN    NaN NaN      NaN
53      NaN    NaN NaN      NaN
55      NaN    NaN NaN      NaN